<%- include('../partials/index') %>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" 
  style="background-color: #212529; padding-top:0px; padding-bottom: 0px;">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/">Abra Guide</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#portfolio">Explore</a>
        </li>
        <li class="nav-item">
          <% if (userDetail == '') {%>
          <a class="nav-link" href="/login">Sign In</a>
          <% } else { %>
          <a class="nav-link" href="/logout">Welcome back
            <%= userDetail.user_lname %>,
            <%= userDetail.user_fname %>!</a>
          <% } %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">About Us</h2>
        <h3 class="section-subheading text-muted text-justify">
          <p> Abra is a province geographically located in the northern archipelago of Luzon particularly on the western side of the Cordillera, surrounded by Ilocos Norte and Apayao on the North, Mountain Province and Ilocos Sur on the South, Kalinga on the East and Ilocos Sur on the West. Abra is a majestic mountainous province and very rich in natural resources composing of rivers, lakes, water falls, caves and other tourist destinations that Abrenians can be proud of all over the world. 
          </p>
          <p> Long time ago, the province had been unpopular or a blank spot on the Philippine tourist map until it was discovered and gone viral by bloggers and adventurers who are posting online and through the social media and web logs. Adventurers, tourists and travelers are now starting to explore the landlocked province tourist spots destinations. Abra is often skipped by tourists because of its location which is very far from Manila and the province is also known as a political hotspot. But there is more to offer when you explore the province. It is surrounded by popular tourists destinations, such as: (1) Ilocos where the Vigan City, one of the Seven Wonders of the World, is located and (2) Cordillera in the east where Baguio City, the Summer Capital City of the Philippines, is situated. There are many tourist attractions which Abreňos can be proud of, that are still unknown. 
          </p>
          <div class="container">
            <div class="row">
              <div class="col-md-4 mx-auto">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Contact us for more details.</li>
                  <li class="list-group-item">Mobile Number: +639975818628</li>
                  <li class="list-group-item">E-mail: arpee.callejo@unp.edu.ph</li>
                </ul>
              </div>
            </div>
          </div>
        </h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-location-arrow fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Tour</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Eat</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-repeat fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Repeat</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
    </div>
  </div>
</section>

<%- include('../partials/footer') %>