<%- include('../../partials/index') %>

<%- include('../../Layout/Spot/GetAllNavBar') %>

<header class="masthead" style="background-image: url(../img/bangued.jpg);">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase text-white">
      </div>
    </div>
  </div>
</header>

<section id="hotels">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Ilocano Delicacies</h2>
        <h3 class="section-subheading text-muted">Taste the sumptuous and mouthwatering Ilocano delicacies in Abra.</h3>
      </div>
    </div>
    <%- include('../../Layout/Spot/GetAll') %>
  </div>
</section>

<%- include('../../partials/footer') %>