<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-warning">
      <h3 class="card-title">Barangay Table</h3>
      <p class="card-category"> Here is a subtitle for this table</p>
      <a href="/admin/barangay/new" class="btn btn-default float-right"> Add New Record</a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-primary">
            <tr>
              <th>Barangay</th>
              <th>Town</th>
              <th class="text-right">Actions</th>
            </tr>
          </thead>
          <tbody>  
            <% rows.forEach(function(row){ %>
              <tr>
                <td><%= row.bar_name %></td>
                <td><%= row.town_name %></td>
                <td class="td-actions text-right">
                  <a href="/admin/barangay/<%= row.bar_no %>" rel="tooltip" class="btn btn-success">
                      <i class="material-icons">edit</i>
                  </a>
                  <form class="d-inline" action="/admin/barangay/delete/<%= row.bar_no %>" method="POST">
                    <button class="btn btn-danger"><i class="material-icons">close</i></button>
                  </form>
                </td>
              </tr>
            <%	}); %>   
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>