<div class="col-md-6 mx-auto">
  <div class="card">
    <div class="card-header card-header-warning">
      <h4 class="card-title">New Barangay</h4>
    </div>
    <div class="card-body">
      <p class="text-danger">* fields are required</p>
      <form action="/admin/barangay" method="POST" id="myForm">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group bmd-form-group">
              <label class="bmd-label-floating"><span class="text-danger">*</span> Barangay Name</label>
              <input type="text" class="form-control" name="barangay_name" id="bar_name">
            </div>
            <label for="inputState"><span class="text-danger">*</span> Town</label>
            <select class="form-control" name="town_no" id="town_no">
              <% data.forEach(function(row){ %>
              <option value="<%= row.town_no %>"><%= row.town_name %></option>
              <%	}); %>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-info pull-right">Save Record</button>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('#myForm').submit((e) => {
      // Validation
      var bar_name = $.trim($('#bar_name').val());
      if (bar_name === '') {
        e.preventDefault()
        alert('Barangay name is required.');
        $('#bar_name').addClass('is-invalid');
      }
    });
  });
</script>