#link-hover{
  -webkit-animation: scaledown .4s ease;
  animation: scaledown .4s linear;
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}

#link-hover:hover {
  z-index: 100;
  -webkit-animation: scale .4s ease;
  animation: scale .4s linear;
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}

@keyframes scaledown {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}