<%- include('../partials/index') %>
  <div>
    <h1 class="display-1">Hotel Routes</h1>
  </div>
  <div class="container mt-5 mb-5">
    <div class="row mt-5">
      <div class="col-md-6">
        <h1 class="display-4">Where is Abra?</h1>
        <p class="lead">Abra (Ilokano: Probinsia ti Abra; Filipino: Lalawigan ng Abra) is a landlocked province of the Philippines in the
          Cordillera Administrative Region in Luzon. Its capital is Bangued, and is bordered by Ilocos Norte on the northwest,
          Apayao on the northeast, Kalinga on the mid-east, Mountain Province on the southeast, and Ilocos Sur on the southwest.</p>
        <hr>
        <p>The first inhabitants of Abra were the ancestors of the Bontocs and the Ifugaos. These inhabitants eventually left
          to settle in the old Mountain Province. Other early inhabitants were the Tingguians, or Itnegs, as they are also
          known.
        </p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>
      <div class="col-md-6">
        <img class="card-img" src="../abra-map.png" alt="Map Image" height="500" width="50%">
      </div>
    </div>
  </div>
  <%- include('../partials/footer') %>