<%- include('../partials/index') %>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top pt-0 pb-0" id="mainNav" style="background-color: #212529;">
  <div class="container">
    <a class="navbar-brand" href="/">Abra Travel Guide</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/">explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Sign in</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card shadow p-3 mb-5 bg-white rounded ">
        <div class="card-body">
          <% if (message != undefined) { %>
          <div class="alert alert-danger" role="alert">
            <%= message %>
          </div>
          <% } %>
          <% if (success != undefined) { %>
          <div class="alert alert-success" role="alert">
            <%= success %>
          </div>
          <% } %>

          <form id="form-login" method="POST" action="/reset">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address/Username</label>
              <input type="text" class="form-control" id="email" name="username" aria-describedby="emailHelp"
                placeholder="Enter email" required>
            </div>

            <div class="form-group">
              <label for="lname" class="col-form-label">Mobile Number</label>
              <div class="form-group row">
                <div class="col-sm-4">
                  <input type="number" class="form-control" id="cmnumber" name="cmnumber" placeholder="63" min="0">
                </div>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="mnumber" name="mnumber" placeholder="9123456789"
                    min="0">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="lname" class="col-form-label">Phone Number</label>
              <div class="form-group row">
                <div class="col-sm-4">
                  <input type="number" class="form-control" id="cpnumber" name="cpnumber" placeholder="075" min="0">
                </div>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="pnumber" name="pnumber" placeholder="5112233" min="0">
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary w-75 p-2">Reset Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  $(document).ready(function () {

    disableKeysForNumbers('#mnumber');
    disableKeysForNumbers('#pnumber');
    disableKeysForNumbers('#cmnumber');
    disableKeysForNumbers('#cpnumber');

    function disableKeysForNumbers(input) {
      $(input).keydown(function (evt) {
        var keycode = evt.charCode || evt.keyCode;
        if (keycode == 69 || keycode == 110 || keycode == 190 || keycode == 189 || keycode == 109 || keycode == 107 || keycode == 187) { //Enter key's keycode
          return false;
        }
      });
    }

    function numberValidation(n1, n2, s1) {
      if (!n1 == '') {
        if (!$.isNumeric(n1) || n2 == '') {
          alert('Country code is required, only numbers are allowed');
          return false;
        }
      }

      if (!n2 == '') {
        if (!$.isNumeric(n2) || n1 == '') {
          alert(s1 + ' number is required, only numbers are allowed');
          return false;
        }
      }
    }

    $("#form-login").submit(function (e) {
      var email = $.trim($('#email').val());
      var mnumber = $('#mnumber').val();
      var cmnumber = $('#cmnumber').val();
      var pnumber = $('#pnumber').val();
      var cpnumber = $('#cpnumber').val();

      var mobile = numberValidation(mnumber, cmnumber, "Mobile");
      var phone = numberValidation(pnumber, cpnumber, "Phone");

      if (!mobile && mobile != undefined) {
        return false;
      }

      if (!phone && phone != undefined) {
        return false;
      }

      // Check if empty of not
      if (email === '') {
        alert('Email must be fill.');
        return false;
      }
    });
  });
</script>

<%- include('../partials/footer') %>