<div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-header card-header-warning">
        <h4 class="card-title">New Establishment Category</h4>
      </div>
      <div class="card-body">
        <form action="/admin/es-category/establishment" method="POST">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group bmd-form-group">
                <label class="bmd-label-floating">Establishment Category</label>
                <input type="text" class="form-control" name="ec">
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-info pull-right">Save Cateogry</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>