<div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-warning">
          <h3 class="card-title">Spots Categories Table</h3>
          <p class="card-category"> Here is a subtitle for this table</p>
          <a href="/admin/barangay/new" class="btn btn-default float-right"> Add New Record</a>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <tr>
                  <th>Spot Category</th>
                  <th class="text-right">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>A</td>
                  <td class="td-actions text-right">
                    <a href="/admin/barangay/" rel="tooltip" class="btn btn-success">
                        <i class="material-icons">edit</i>
                    </a>
                    <form class="d-inline" action="/admin/barangay/delete/" method="POST">
                      <button class="btn btn-danger"><i class="material-icons">close</i></button>
                    </form>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-warning">
          <h3 class="card-title">Establiments Categories Table</h3>
          <p class="card-category"> Hello Admin! Enter new establishments here.</p>
          <a href="/admin/es-category/establishment/new" class="btn btn-default float-right"> Add New Record</a>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <tr>
                  <th>Establishments Category</th>
                  <th class="text-right">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>A</td>
                  <td class="td-actions text-right">
                    <a href="/admin/barangay/" rel="tooltip" class="btn btn-success">
                        <i class="material-icons">edit</i>
                    </a>
                    <form class="d-inline" action="/admin/barangay/delete/" method="POST">
                      <button class="btn btn-danger"><i class="material-icons">close</i></button>
                    </form>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
      
</div>