<div class="content pt-5">
  <div class="container-fluid">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header card-header-warning">
          <h4 class="card-title">Change Password</h4>
        </div>
        <div class="card-body">
          <form action="/admin/change" id="form-change-password" method="POST">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group bmd-form-group">
                  <label class="bmd-label-floating">Old Password</label>
                  <input type="password" class="form-control" id="oldPassword" name="oldPassword" required>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group bmd-form-group">
                  <label class="bmd-label-floating">Password</label>
                  <input type="password" class="form-control" id="password" name="password" required>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group bmd-form-group">
                  <label class="bmd-label-floating">Confirm Password</label>
                  <input type="password" class="form-control" id="confirmPassword" name="confirPassword" required>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-info pull-right">Submit</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {

    function validatePassword(password) {
      let customRegExp = new RegExp("^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$");
      return customRegExp.test(password);
    }

    $('#form-change-password').submit((e) => {
      e.preventDefault();
      var oldPassword = $.trim($('#oldPassword').val());
      var password = $.trim($('#password').val());
      var confirmPassword = $.trim($('#confirmPassword').val());

      if (!validatePassword(password)) {
        alert('Should have 8 to 16 characters, must contain one special character, at least one uppercase character, and have a numerical.');
        return false;
      }

      if (password !== confirmPassword) {
        alert('Password doesn\'t match.');
        return false;
      }

      fetch('/admin/change', {
        method: 'post',
        headers: {
          'Accept': 'application/json, text/plain, */*',
          'Content-type': 'application/json'
        },
        body: JSON.stringify({
          oldPassword: oldPassword,
          password: password,
          confirmPassword: confirmPassword
        })
      })
        .then((res) => res.json())
        .then((data) => {
          if (data.error) {
            return alert(data.err_msg)
          }

          if (data.success) {
            $('#oldPassword').val('');
            $('#password').val('');
            $('#confirmPassword').val('');
            return alert(data.success_msg);
          }
        })
        .catch((err) => {
          return alert('Ooops something went wrong. Try again later.')
        });

    });
  });
</script>