<dl class="row">
  <dd class="col-sm-12">
    <img src="/Kili_Falls.jpg" alt="..." class="rounded-circle" height="32" width="32">
    <span class="p-1 mb-2 bg-light text-dark rounded">
      <%= rows[0].estab_address %>
    </span>
    <span class="p-2 mb-3">
      34mins Ago
    </span>
  </dd>
</dl>