<% if (comments.length > 0) { %>
  <dl class="row">
    <div class="card w-100">
      <ul class="list-group list-group-flush">
        <% comments.forEach(function(comment){ %>
          <li class="list-group-item bg-light">
            <img src="/guest.ico" alt="..." class="rounded-circle" height="32" width="32">
            <span>
              Guest -
            </span>
            <span>
              <%= comment.comm_content %>
            </span>
            <p class="float-right" id="comm_date">
              <%= moment(comment.comm_date).format('MMMM Do YYYY, h:mm:ss a') %>
            </p>
          </li>
          <%	}); %>
      </ul>
    </div>
  </dl>
  <% } %>