<%- include('../partials/index') %>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top pt-0 pb-0" id="mainNav" style="background-color: #212529;">
    <div class="container">
      <a class="navbar-brand" href="/">Abra Travel Guide</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Sign in</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<section>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card shadow p-3 mb-5 bg-white rounded ">
        <div class="card-body">
          <form id="form-register" action="#" method="POST">
            <div class="form-group row">
              <label for="fname" class="col-sm-4 col-form-label">First Name</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name">
              </div>
            </div>
            <div class="form-group row">
              <label for="fname" class="col-sm-4 col-form-label">Middle Name</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="mname" name="mname" placeholder="Middle Name">
              </div>
            </div>
            <div class="form-group row">
              <label for="lname" class="col-sm-4 col-form-label">Last Name</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name">
              </div>
            </div>
            <div class="form-group row">
              <label for="lname" class="col-sm-4 col-form-label">Mobile Number</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="mnumber" name="mnumber" placeholder="09123456789">
              </div>
            </div>
            <div class="form-group row">
              <label for="lname" class="col-sm-4 col-form-label">Phone Number</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="pnumber" name="pnumber" placeholder="5112233">
              </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-4 col-form-label">Email</label>
              <div class="col-sm-8">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-4 col-form-label">Password</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
              </div>
            </div>
            <div class="form-group row">
              <label for="confirmPassword" class="col-sm-4 col-form-label">Confirm Password</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="confirmPassword" placeholder="confirmPassword">
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary w-75 p-2">Create Account</button>
              <p>Already have an account? Login <a href="/login">here!</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function () {
    $("#form-register").submit(function (e) {
      var fname = $.trim($('#fname').val());
      var lname = $.trim($('#lname').val());
      var mname = $.trim($('#mname').val());
      var mnumber = $('#mnumber').val();
      var pnumber = $('#pnumber').val();
      var email = $.trim($('#email').val());
      var inputPassword = $.trim($('#inputPassword').val());
      var confirmPassword = $.trim($('#confirmPassword').val());

      // Check if empty of not
      if (fname === '' || lname === '' || mname === '' || email === '') {
        alert('Name, Email and Comment must be filled.');
        return false;
      }
      
      if (inputPassword.length <= 5) {
        alert('Password must be at least 6 characters');
        return false;
      }

      if (inputPassword !== confirmPassword) {
        alert('Password doesn\'t match.');
        return false;
      }      
    });
  });
</script>

<%- include('../partials/footer') %>