<%- include('../partials/index') %>

<%- include('../Layout/estabGetAllNavBar') %>



<header class="masthead" style="background-image: url(../img/souvenir_shoppins_centers.png);">
  <div class="container">
    <div class="intro-text">
      <!-- <div class="intro-heading text-uppercase text-body">Experience Spanish ancestral structures with these churches and museums.</div> -->
    </div>
  </div>
</header>

<section id="church">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Souvenir / Shopping Centers</h2>
        <h3 class="section-subheading text-muted">Buy souvenir items and One Town One Product (OTOP) from these
          Pasalubong and Shopping Centers in Abra.</h3>
      </div>
    </div>
    <%- include('../Layout/estabGetAll') %>
  </div>
</section>

<%- include('../partials/footer') %>