<div class="content pt-5">
  <div class="container-fluid">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header card-header-warning">
          <h4 class="card-title">Authorized Employee Only</h4>
        </div>
        <div class="card-body">
          <% if (message.length != 0) { %>
          <div class="alert alert-danger" role="alert">
            <%= message[0] %>
          </div>
          <% } %>
          <form action="/admin/login" method="POST">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group bmd-form-group">
                  <label class="bmd-label-floating">Username</label>
                  <input type="text" class="form-control" name="username" required>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group bmd-form-group">
                  <label class="bmd-label-floating">Password</label>
                  <input type="password" class="form-control" name="password" required>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-info pull-right">Login</button>
            <p>Forgot password? click <a href="/reset">here!</a></p>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</script>