<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
  $(function () {

<% if (login_message !== '') { %>
      toastr.success('Succesfully login.', 'System Notice!')
      <% } %>

});
</script>
<h1>Dashboard</h1>