<footer class="footer">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>
        <li>
          <a href="https://www.creative-tim.com">
            Abra Tourist Guide
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy;
      <script>
        document.write(new Date().getFullYear())
      </script> by
      <a href="#" target="_blank">Something here</a> footer
    </div>
    <!-- your footer here -->
  </div>
</footer>