<div class="sidebar" data-color="green" data-background-color="white">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">
    <img src="/logo.png" alt="Logo" height="auto" width="130px" class="mx-auto d-block">
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item <%= page === 'Dashboard' ? 'active' : '' %>">
        <a class="nav-link" href="/admin">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item accordion">
        <a class="nav-link" data-toggle="collapse" href="#" role="button" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <i class="material-icons">input</i>
          <p class="d-block">Entry</p>
        </a>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <a class="nav-link nav-item active" href="/admin/user">
              <i class="material-icons">face</i>
              <p>User</p>
            </a>
            <a class="nav-link nav-item active" href="/admin/town">
              <i><img src="/icons/town.png" alt="town" height="30px" width="30px"></i>
              <p>Town</p>
            </a>
            <a class="nav-link" href="/admin/barangay">
              <i><img src="/icons/barangay.png" alt="town" height="30px" width="30px"></i>
              <p>Barangay</p>
            </a>
            <a class="nav-link" href="/admin/spot">
              <i><img src="/icons/spot.png" alt="town" height="30px" width="30px"></i>
              <p>Spots</p>
            </a>
            <!-- <a class="nav-link" href="/admin/es-category">
              <i class="material-icons">category</i>
              <p>Spots Category</p>
            </a> -->
            <a class="nav-link" href="/admin/establishment">
              <i><img src="/icons/establishment.png" alt="town" height="30px" width="30px"></i>
              <p>Establishment</p>
            </a>
            <!-- <a class="nav-link" href="#0">
              <i class="material-icons">category</i>
              <p>Establishment Category</p>
            </a> -->
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#0">
          <i class="material-icons">dashboard</i>
          <p>Some Settings</p>
        </a>
      </li>
      
      <!-- your sidebar here -->
    </ul>
  </div>
</div>